.home-hero {
  @apply
    pt-[144px];

  background-image: url('~/assets/images/dot.png'),
    url('~/assets/images/home-bg-hero-gradient.svg'),
    url('~/assets/images/home-bg-hero-gradient-2.svg');
  background-repeat: no-repeat, no-repeat;
  background-size: auto, auto, auto;
  background-position: top, top left, top right;
}

.home-hero-banner {
  @apply
    flex
    flex-col
    items-center
    px-[80px];
}

.home-hero-banner-text {
  @apply
    flex
    flex-col
    items-center
    self-stretch;
}

.home-hero-banner-title {
  @apply
    text-[74px]
    font-bold
    leading-[88px]
    text-secondary
    text-center;
}

.home-hero-banner-subtitle {
  @apply
    mt-[24px]
    text-whitend-500
    text-[20px]
    leading-[30px]
    text-center;
}

.home-hero-banner-consult {
  @apply
    flex
    flex-col
    items-center
    mt-[48px];
}

.home-hero-banner-rating {
  @apply
    flex
    flex-col
    items-center
    justify-center
    mt-[32px];
}

.home-hero-banner-star {
  @apply
    flex
    justify-center
    items-center;
}

.home-hero-banner-star-inner {
  @apply
    flex
    items-center
    gap-[8px];

  > .star {
    @apply
      text-[#FFC107];
  }
}

.home-hero-banner-star-text {
  @apply
    ml-[16px]
    text-[20px]
    text-whitend-500
    leading-[30px]
}

.home-hero-banner-rating-text {
  @apply
    mt-[16px]
    text-whitend-500
    text-[20px]
    font-medium
    leading-[30px]
}

.home-hero-unggul {
  @apply
    flex
    items-center
    gap-[40px]
    mt-[99px]
    pb-[64px]
    px-[80px];
}

.home-hero-unggul-item {
  @apply
    flex
    p-[24px]
    flex-col
    self-stretch
    flex-[1_1_0]
    rounded-[16px]
    border-[1px]
    border-secondary
    relative;
}

.home-hero-unggul-item-title {
  @apply
    text-whitend-500
    text-[48px]
    font-bold
    leading-[62px]
    tracking-[0.384px]
    pt-[9px];
}

.home-hero-unggul-item-subtitle {
  @apply
    text-whitend-600
    text-[20px]
    font-medium
    leading-[30px];
}

.home-tag {
  @apply
    flex
    h-[100px]
    p-[16px]
    justify-center
    items-center
    gap-[61px]
    self-stretch;

  > .icon {
    @apply text-secondary
  }
}

.home-tag-text {
  @apply
    text-whitend-500
    text-[24px]
    font-medium
    leading-[34px]
    tracking-[0.048px];
}

.home-exceptional,
.home-services,
.services-our,
.services-how,
.home-customer,
.work-migth {
  @apply
    py-[100px]
    px-[80px]
}

.home-entitled-group {
  @apply
    flex
    items-center;
}

.home-entitled-container {
  @apply
    w-[835px]
}

.home-entitled-title {
  @apply
    text-secondary
    text-[74px]
    font-bold
    leading-[88px]
    tracking-[0.888px]
}

.home-entitled-subtitle {
  @apply
    pt-[24px]
    text-[20px]
    text-whitend-500
    font-medium
    leading-[30px]
}

.home-entitled-tag {
  @apply
    inline-block
    px-[32px]
    py-[16px]
    border-[1px]
    border-accent
    rounded-full
    text-whitend-500
    text-[20px]
    leading-[30px]
    font-bold
}

.home-exceptional-tags {
  @apply
    flex
    items-center
    mt-[60px]
    gap-[24px];
}

.home-exceptional-items {
  @apply
    mt-[30px]
}

.home-exceptional-items {
  @apply
    grid
    grid-cols-3
    gap-[40px]
    self-stretch;
}

.home-exceptional-item {
  @apply
    rounded-[16px]
    border-accent
    border-[1px]
    p-[24px]
    cursor-pointer;

  &:hover {
    @apply
      border-secondary;

    .btn-actions {
      @apply
        text-primary-500
        bg-secondary
    }
  }
}

.home-exceptional-img {
  @apply
    h-[277px]
    overflow-hidden
    rounded-[12px]
}

.home-exceptional-desc {
  @apply
    mt-[24px]
    flex
    items-center
    gap-[24px]
    self-stretch;
}

.home-exceptional-desc-title {
  @apply
    text-whitend-600
    text-[24px]
    font-bold
    leading-[34px]
    tracking-[0.048px]
}

.home-exceptional-desc-desc {
  @apply
    mt-[8px]
    text-whitend-600
    text-[20px]
    leading-[30px]
}

.home-services {
  background-image: url('~/assets/images/home-bg-services-gradient.svg');
  background-repeat: no-repeat;
  background-position: top right;
}

.home-services-items {
  @apply
    mt-[60px]
    grid
    grid-cols-3
    gap-[40px]
    self-stretch
}

.home-services-item {
  @apply
    rounded-[16px]
    border-[1px]
    border-accent
    p-[24px]
}

.home-services-item-title {
  @apply
    mt-[24px]
    text-[24px]
    font-bold
    text-whitend-500
    leading-[32px]
    tracking-[0.048px]
}

.home-services-item-desc {
  @apply
    mt-[8px]
    text-[16px]
    leading-[24px]
    text-whitend-600
}

.home-customer-item {
  @apply
    p-[24px]
    rounded-[16px]
    border-[1px]
    border-accent
    w-full
}

.home-customer-item-quote {
  @apply
    mt-[24px]
    p-[20px]
    bg-[#0E1C30]
    rounded-[12px]
    text-[24px]
    leading-[34px]
    tracking-[0.048px]
    text-whitend-500
}

.home-customer-item-user-r {
  @apply
    flex
    justify-between
    items-center
    self-stretch
}

.home-customer-item-user {
  @apply
    flex
    items-start
    gap-[12px];

  > img {
    @apply
      w-[50px]
      h-[50px]
      rounded-full
  }
}

.home-customer-item-user-name {
  @apply
    text-[16px]
    leading-[24px]
    font-bold
    text-whitend-500
}

.home-customer-item-user-job {
  @apply
    mt-[8px]
    text-[12px]
    leading-[18px]
    text-whitend-600
}
