.home-hero {
  @apply
    pt-[144px];

  background-image: url('~/assets/images/dot.png'),
    url('~/assets/images/home-bg-hero-gradient.svg'),
    url('~/assets/images/home-bg-hero-gradient-2.svg');
  background-repeat: no-repeat, no-repeat;
  background-size: auto, auto, auto;
  background-position: top, top left, top right;
}

.home-hero-banner {
  @apply
    flex
    flex-col
    items-center
    px-[80px]
    max-lg:px-[40px];
}

.home-hero-banner-text {
  @apply
    flex
    flex-col
    items-center
    self-stretch;
}

.home-hero-banner-title {
  @apply
    text-[74px]
    font-bold
    leading-[88px]
    text-secondary
    text-center
    tracking-[0.888px]
    max-lg:text-[48px]
    max-lg:leading-[56px]
    max-lg:tracking-[0.384px];
}

.home-hero-banner-subtitle {
  @apply
    mt-[24px]
    text-whitend-500
    text-[20px]
    leading-[30px]
    text-center
    max-lg:mt-[18px]
    max-lg:text-[18px]
    max-lg:leading-[24px];
}

.home-hero-banner-consult {
  @apply
    flex
    flex-col
    items-center
    mt-[48px];
}

.home-hero-banner-rating {
  @apply
    flex
    flex-col
    items-center
    justify-center
    mt-[32px]
    max-lg:mt-[24px];
}

.home-hero-banner-star {
  @apply
    flex
    justify-center
    items-center;
}

.home-hero-banner-star-inner {
  @apply
    flex
    items-center
    gap-[8px];

  > .star {
    @apply
      text-[#FFC107];
  }
}

.home-hero-banner-star-text {
  @apply
    ml-[16px]
    text-[20px]
    text-whitend-500
    leading-[30px]
}

.home-hero-banner-rating-text {
  @apply
    mt-[16px]
    text-whitend-500
    text-[20px]
    font-medium
    leading-[30px]
}

.home-hero-unggul {
  @apply
    grid
    grid-cols-4
    items-center
    gap-[40px]
    mt-[57px]
    pb-[75px]
    px-[80px]
    max-lg:grid-cols-2
    max-lg:gap-[20px]
    max-lg:mt-[40px]
    max-lg:px-[40px]
    max-lg:pb-[60px]
    max-md:grid-cols-none

}

.home-hero-unggul-item {
  @apply
    flex
    p-[24px]
    flex-col
    self-stretch
    rounded-[16px]
    border-[1px]
    border-secondary
    max-lg:p-[20px]
}

.home-hero-unggul-item-title {
  @apply
    text-whitend-500
    text-[48px]
    font-bold
    leading-[62px]
    tracking-[0.384px]
    pt-[9px]
    max-lg:text-[38px]
    max-lg:leading-[48px]
    max-lg:tracking-[0.114px];
}

.home-hero-unggul-item-subtitle {
  @apply
    text-whitend-600
    text-[20px]
    font-medium
    leading-[30px]
    max-lg:text-[18px]
    max-lg:leading-[24px];
}

.home-tag {
  @apply
    bg-accent
    flex
    p-[16px]
    py-[40px]
    justify-center
    items-center
    gap-[61px]
    self-stretch;

   .icon {
    @apply
    text-secondary
    max-lg:text-[18px]
    max-lg:leading-[24px];
  }
}

.home-tag-text {
  @apply
    text-whitend-500
    text-[24px]
    font-medium
    leading-[34px]
    tracking-[0.048px]
    max-lg:text-[18px]
    max-lg:leading-[24px];
}

.home-exceptional,
.home-testi,
.home-services,
.services-our,
.services-how,
.home-customer,
.work-migth {
  @apply
    py-[100px]
    px-[80px]
    max-lg:py-[60px]
    max-lg:px-[40px]
}

.home-entitled-group {
  @apply
    flex
    items-center
    max-lg:flex-col
    max-lg:items-start;

  > .btn-select {
    @apply
      ml-auto
      max-lg:ml-[inherit]
      max-lg:mt-[32px];
  }
}

.home-entitled-container {
  @apply
    w-[835px]
}

.home-entitled-title {
  @apply
    text-secondary
    text-[74px]
    font-bold
    leading-[88px]
    tracking-[0.888px]
    max-lg:text-[58px]
    max-lg:leading-[64px]
    max-lg:tracking-[0.58px]
}

.home-entitled-subtitle {
  @apply
    mt-[24px]
    text-[20px]
    text-whitend-500
    font-medium
    leading-[30px]
    max-lg:mt-[18px]
    max-lg:text-[18px]
    max-lg:leading-[24px]
}

.home-entitled-tag {
  @apply
    inline-block
    px-[32px]
    py-[16px]
    border-[1px]
    border-violet-500
    rounded-full
    text-whitend-500
    text-[20px]
    leading-[30px]
    font-bold
}

.home-exceptional-tags {
  @apply
    flex
    items-center
    mt-[60px]
    gap-[24px];
}

.home-exceptional-items {
  @apply
    mt-[30px]
}

.home-exceptional-items {
  @apply
    grid
    grid-cols-3
    gap-[40px]
    self-stretch
    max-lg:grid-cols-2
    max-lg:gap-[20px];
}

.home-exceptional-item {
  @apply
    rounded-[16px]
    border-violet-500
    border-[1px]
    overflow-hidden
    cursor-pointer;

  &:hover {
    @apply
      border-secondary;

    .btn-actions,
    .btn-select {
      @apply
        text-primary-500
        bg-secondary
    }
  }
}

.home-exceptional-img {
  @apply
    h-[277px]
    overflow-hidden
}

.home-exceptional-desc {
  @apply
    bg-accent
    flex
    flex-col
    gap-[20px]
    p-[24px]
    pt-[30px]
    self-stretch;
}

.home-exceptional-desc-title {
  @apply
    text-whitend-500
    text-[24px]
    font-bold
    leading-[32px]
    tracking-[0.048px]
    max-lg:text-[20px]
    max-lg:leading-[28px]
}

.home-exceptional-desc-desc {
  @apply
    mt-[8px]
    text-whitend-600
    text-[20px]
    leading-[30px]
}

.home-services {
  background-image: url('~/assets/images/home-bg-services-gradient.svg');
  background-repeat: no-repeat;
  background-position: top right;
}

.home-services-items {
  @apply
    mt-[60px]
    grid
    grid-cols-3
    gap-[40px]
    self-stretch
    max-lg:grid-cols-2
    max-lg:gap-[20px]
}

.home-services-item {
  @apply
    rounded-[16px]
    border-[1px]
    border-violet-500
    p-[24px]
}

.home-services-item-title {
  @apply
    mt-[24px]
    text-[24px]
    font-bold
    text-whitend-500
    leading-[32px]
    tracking-[0.048px]
}

.home-services-item-desc {
  @apply
    mt-[8px]
    text-[16px]
    leading-[24px]
    text-whitend-600
}

.home-customer-item {
  @apply
    p-[24px]
    rounded-[16px]
    border-[1px]
    border-violet-500
    w-full
}

.home-customer-item-quote {
  @apply
    mt-[24px]
    p-[20px]
    bg-[#0E1C30]
    rounded-[12px]
    text-[24px]
    leading-[34px]
    tracking-[0.048px]
    text-whitend-500
    max-lg:text-[20px]
    max-lg:leading-[28px]
}

.home-customer-item-user-r {
  @apply
    flex
    justify-between
    items-center
    self-stretch
}

.home-customer-item-user {
  @apply
    flex
    items-start
    gap-[12px];

  > img {
    @apply
      w-[50px]
      h-[50px]
      rounded-full
  }
}

.home-customer-item-user-name {
  @apply
    text-[16px]
    leading-[24px]
    font-bold
    text-whitend-500
}

.home-customer-item-user-job {
  @apply
    mt-[8px]
    text-[12px]
    leading-[18px]
    text-whitend-600
}
